<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="nl.x-services.plugins.googleplus"
        version="1.1.2">

  <name>Google+</name>

  <description>Use your Google account to authenticate with the app.</description>

  <author>Eddy Verbruggen</author>

  <license>MIT</license>

  <keywords>Google, Google+, GooglePlus, Google Plus, Google Login, Login, OAuth</keywords>

  <repo>https://github.com/EddyVerbruggen/cordova-plugin-googleplus.git</repo>

  <issue>https://github.com/EddyVerbruggen/cordova-plugin-googleplus/issues</issue>

  <engines>
    <engine name="cordova" version=">=3.3.0"/>
  </engines>

  <js-module src="www/GooglePlus.js" name="GooglePlus">
    <clobbers target="window.plugins.googleplus" />
  </js-module>

  <!-- android -->
  <platform name="android">

    <dependency id="com.google.playservices" url="https://github.com/MobileChromeApps/google-play-services" />

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="GooglePlus">
        <param name="android-package" value="nl.xservices.plugins.GooglePlus" />
        <param name="onload" value="true" />
      </feature>
      <access origin="https://accounts.google.com/*" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.GET_ACCOUNTS" />
      <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    </config-file>

    <source-file src="src/android/GooglePlus.java" target-dir="src/nl/xservices/plugins"/>
  </platform>

  <!-- ios -->
  <platform name="ios">

    <config-file target="config.xml" parent="/*">
      <feature name="GooglePlus">
        <param name="ios-package" value="GooglePlus"/>
        <param name="onload" value="true" />
      </feature>
      <access origin="https://accounts.google.com/*" />
    </config-file>

    <header-file src="src/ios/GooglePlus.h"/>
    <source-file src="src/ios/GooglePlus.m"/>

    <config-file target="*-Info.plist" parent="CFBundleURLTypes">
      <array>
        <dict>
          <key>CFBundleTypeRole</key>
          <string>Editor</string>
          <key>CFBundleURLName</key>
          <string>$PACKAGE_NAME</string>
          <key>CFBundleURLSchemes</key>
          <array>
            <string>$PACKAGE_NAME</string>
          </array>
        </dict>
      </array>
    </config-file>

    <!-- Google+ framework -->
    <framework src="src/ios/libs/GooglePlus.framework" custom="true" />
    <framework src="src/ios/libs/GoogleOpenSource.framework" custom="true" />

    <!-- System frameworks -->
    <framework src="AddressBook.framework" weak="true" />
    <framework src="CoreMotion.framework" weak="true" />
    <framework src="CoreText.framework" weak="true" />
    <framework src="CoreLocation.framework" weak="true" />
    <framework src="MediaPlayer.framework" weak="true" />
    <framework src="Security.framework" weak="true" />
    <framework src="SystemConfiguration.framework" weak="true" />

  </platform>

</plugin>
