<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-googleplus"
        version="7.0.2">

  <name>Google SignIn</name>

  <description>Use your Google account to authenticate with the app.</description>

  <author>Eddy Verbruggen</author>

  <license>MIT</license>

  <keywords>Google, Google SignIn, GoogleSignIn, Google Login, Login, OAuth, Identity, Authentication</keywords>

  <repo>https://github.com/EddyVerbruggen/cordova-plugin-googleplus.git</repo>

  <issue>https://github.com/EddyVerbruggen/cordova-plugin-googleplus/issues</issue>

  <engines>
    <engine name="cordova" version=">=7.1.0"/>
    <engine name="cordova-android" version=">=6.3.0"/>
  </engines>

  <js-module src="www/GooglePlus.js" name="GooglePlus">
    <clobbers target="window.plugins.googleplus" />
  </js-module>

  <!-- android -->
  <platform name="android">

	<preference name="PLAY_SERVICES_VERSION" default="11.8.0"/>
    <framework src="com.google.android.gms:play-services-auth:$PLAY_SERVICES_VERSION" />
    <framework src="com.google.android.gms:play-services-identity:$PLAY_SERVICES_VERSION" />

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="GooglePlus">
        <param name="android-package" value="nl.xservices.plugins.GooglePlus" />
        <param name="onload" value="true" />
      </feature>
      <access origin="https://accounts.google.com/*" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.GET_ACCOUNTS" />
      <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    </config-file>

    <source-file src="src/android/GooglePlus.java" target-dir="src/nl/xservices/plugins"/>
  </platform>

  <!-- ios -->
  <platform name="ios">

    <config-file target="config.xml" parent="/*">
      <feature name="GooglePlus">
        <param name="ios-package" value="GooglePlus"/>
        <param name="onload" value="true" />
      </feature>
      <access origin="https://accounts.google.com/*" />
    </config-file>

    <header-file src="src/ios/GooglePlus.h"/>
    <source-file src="src/ios/GooglePlus.m"/>

    <preference name="REVERSED_CLIENT_ID" />

    <config-file target="*-Info.plist" parent="CFBundleURLTypes">
      <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>REVERSED_CLIENT_ID</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>$REVERSED_CLIENT_ID</string>
            </array>
        </dict>
      </array>
    </config-file>

    <!-- Google frameworks -->
    <!-- Downloaded here: https://developers.google.com/identity/sign-in/ios/sdk/ (changelog: https://developers.google.com/identity/sign-in/ios/release) -->
    <framework src="src/ios/libs/GoogleAppUtilities.framework" custom="true" />
    <framework src="src/ios/libs/GoogleAuthUtilities.framework" custom="true" />
    <framework src="src/ios/libs/GoogleNetworkingUtilities.framework" custom="true" />
    <framework src="src/ios/libs/GoogleSignIn.framework" custom="true" />
    <framework src="src/ios/libs/GoogleSymbolUtilities.framework" custom="true" />
    <framework src="src/ios/libs/GoogleUtilities.framework" custom="true" />

    <!-- System frameworks -->
    <framework src="AddressBook.framework" weak="true" />
    <framework src="CoreText.framework" weak="true" />
    <framework src="SafariServices.framework" weak="true" />
    <framework src="Security.framework" weak="true" />
    <framework src="SystemConfiguration.framework" weak="true" />
    <framework src="libz.tbd" weak="true" />
    <framework src="libz.dylib" weak="true" />

		<hook type="after_plugin_install" src="hooks/ios/prerequisites.js"/>
		<hook type="after_plugin_install" src="hooks/ios/install_entitlements.js" />
  </platform>

  <!-- browser -->
  <platform name="browser">
    <js-module src="src/browser/GooglePlusProxy.js" name="GooglePlusProxy">
      <clobbers target="GooglePlus" />
    </js-module>
    <config-file target="config.xml" parent="/*">
      <feature name="GooglePlus">
        <param name="onload" value="true" />
      </feature>
      <access origin="https://accounts.google.com/*" />
    </config-file>

    <preference name="WEB_APPLICATION_CLIENT_ID" />

    <!-- after_prepare hook to populate APP_ID -->
    <hook type="after_prepare" src="hooks/browser/after_prepare.js" />
  </platform>

</plugin>
